/*
=====================================================
; File Name: landing.component.css
; Project: Gryffindor - Bob's Computer Repair Shop
; Author: Richard Krasso
; Date: 04/18/2023
; File Description: Landing page CSS
; Modifications: Ace Baugh
=====================================================
*/

/*stylings for the landing page*/
.page-container {
  background-image: url(src/assets/images/Bobs-Interior-v3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/*stylings for the header*/
header {
  background: linear-gradient(#210706ff, #210706cc, #21070688, transparent);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: #F5DEB3;
}

/*stylings for the company logo*/
.company {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

/*stylings for the company logo image*/
.company-logo img {
  width: 4rem;
  height: 4rem;
}

/*stylings for the company name*/
.company-name {
  font-size: 2rem;
}

/*stylings for the navbar*/
.navbar {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

/*stylings for the navbar links*/
.nav-link {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: finger;
}

/*  stylings for the navbar links when hovered over*/
.nav-link:hover {
  color: #740001;
  background-color: #F5DEB3;
  box-shadow: 0 .5rem 3rem #740001CC;
}

/*stylings for the navbar links when active*/
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

/*stylings for the hero image*/
.hero-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 2rem;
  color: #F5DEB3;
  padding: 2rem;
}

/*stylings for the hero image title*/
.hero-action-title {
  font-size: 6rem;
  padding-left: 1rem;
}

/*stylings for the hero image body*/
.hero-action-body {
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 40rem;
  margin: 3rem 0;
  background-color: #21070666;
  padding: 1rem;
  box-shadow: 0 0 1rem #210706;
}

/*stylings for the hero image button*/
.hero-action-button {
  padding-left: 1rem;
}

/*stylings for the hero image button*/
.btn {
  background-color: #F5DEB3;
  color: #740001;
  border: none;
}

/*stylings for the hero image button when hovered over*/
.hero-button {
  padding: 1.75rem;
  font-size: 1.75rem;
  font-weight: 700;
  box-shadow: 1rem 1rem #EEBA30;
}

/*stylings for the hero image button when hovered over*/
.hero-review {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #21070688;
  width: 30rem;
  height: 18rem;
  padding: 1rem;
  color: #F5DEB3;
}

/*stylings for the hero image button when hovered over*/
.hero-review-rating {
  color: #EEBA30;
  font-size: 2rem;
  display: flex;
}

/*stylings for the hero image button when hovered over*/
.rating-star {
  padding: 0 .25rem;
}

/*  stylings for the hero image button when hovered over*/
.hero-review-body {
  padding: 1rem .25rem;
}

/*stylings for the hero image button when hovered over*/
.hero-review-author {
  text-align: right;
}

/*stylings for the hero image button when hovered over*/
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*  stylings for the hero image button when hovered over*/
.about {
  background-color: #F5DEB3CC;
  width: 100%;
  padding: 5rem;
  color: #210706;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*stylings for the hero image button when hovered over*/
.about-text {
  max-width: 1200px;
  margin: 1rem 0;
}

/*stylings for the hero image button when hovered over*/
.about-text h2 {
  font-size: 3rem;
}

/*stylings for the hero image button when hovered over*/
.about-text p {
  padding: 2rem 0;
}

/*  stylings for the hero image button when hovered over*/
.about-text a {
  color: #740001;
  text-decoration: none;
}

/*stylings for the hero image button when hovered over*/
.about-text a:hover {
  color: #740001;
  border: 1px solid #210706;
  box-shadow: .25rem .25rem #EEBA30;
}

/*stylings for the hero image button when hovered over*/
.about-action-button {
  width: 100%;
  text-align: center;
}

/*stylings for the hero image button when hovered over*/
.about-button {
  padding: 1rem;
  box-shadow: .5rem .5rem #EEBA30;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid #210706;
}

/*stylings for the hero image button when hovered over*/
.reviews {
  background-image: linear-gradient(290deg, #F5DEB3 0%, #F5DEB3 40%, transparent 40%, transparent 60%, #F5DEB3 60%, #F5DEB3 100%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border-bottom: 3rem solid #EEBA30;
  border-top: 3rem solid #740001;
  padding: 2rem;
}

/*stylings for the hero image button when hovered over*/
.landing-review {
  background-color: #F5DEB3;
  border: 5px solid #740001;
  width: 22rem;
  height: 20rem;
  padding: 1rem;
  color: #740001;
}

/*stylings for the hero image button when hovered over*/
.landing-review-body {
  font-size: 1rem;
  padding: .25rem .25rem;
}

/*  stylings for the hero image button when hovered over*/
.landing-review-author {
  text-align: right;
  font-size: 1.25rem;
}

/*stylings for the hero image button when hovered over*/
.call-to-action {
  background: none;
  width: 100%;
  display: flex;
}

/*stylings for the hero image button when hovered over*/
.contact {
  width: 100%;
  background: #F5DEB3CC;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: #740001;
}

<<<<<<< HEAD
=======
/*stylings for the hero image button when hovered over*/
.contact-content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*stylings for the hero image button when hovered over*/
.contact-content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/*stylings for the hero image button when hovered over*/
.contact-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*stylings for the hero image button when hovered over*/
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  stylings for the hero image button when hovered over*/
.phone-side a {
  color: #740001;
  text-decoration: none;
}

/*stylings for the hero image button when hovered over*/
.phone-side a:hover {
  color: #740001;
  box-shadow: .25rem .25rem #EEBA30;
}

/*stylings for the hero image button when hovered over*/
.contact-text {
  padding: 1rem 0;
}

/*stylings for the hero image button when hovered over*/
.transparent-text {
  color: transparent;
}

/*stylings for the hero image button when hovered over*/
>>>>>>> a41fe1ada16abb5c6afd881b10611efa4db22b12
.footer {
  background: linear-gradient(transparent, #21070688, #210706cc, #210706ff);
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  color: #F5DEB3;
  font-weight: 700;
}
