/*
=====================================================
; File Name: invoice.summary.component.css
; Project: Gryffindor - Bob's Computer Repair Shop
; Author: Richard Krasso
; Date: 05/04/2023
; Modifications: Chad ONeal
=====================================================
*/

mat-card {
  border-radius: 0;
  opacity: 77%;
  background-color: none;
}

.invoice-container {
  background-color: #f5deb3;;
}

