<!--
=====================================================
; File Name: invoice.summary.component.html
; Project: Gryffindor - Bob's Computer Repair Shop
; Author: Richard Krasso
; Date: 05/04/2023
; Modifications: Chad ONeal
=====================================================
-->

<div class="base-container">

<!--user pulled from MongoDB-->
    <mat-card class="card">
      <h1 class="center mb">
        {{ username }} please confirm you order.
      </h1>
    </mat-card><br>

    <div mat-dialog-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxFlex>
          <!--services-->
          <mat-card class="card">
            <h2>Services</h2>
            <mat-card-content>
              <!-- display lineItem title and price -->
              <div *ngFor="let lineItem of invoice.getLineItems()">
                <mat-list>
                  <h2>
                    {{ lineItem.title }}:
                    <div fxFlex></div>
                    {{ lineItem.price | currency: 'EUR':'symbol':     '1.2-2' }}
                  </h2>
                </mat-list>
              </div>
            </mat-card-content>
          </mat-card>
        </div><br>

        <!-- labor -->
        <div fxFlex>
          <mat-card class="card">
            <h2>Labor</h2>
            <mat-card-content>
              <mat-list>
                <h2 *ngFor="let lineItem of invoice.getLineItems()">
                  {{ lineItem.title }}
                  @ 50/hr:
                  <div fxFlex></div>
                  {{ lineItem.labor * 50 | currency: 'EUR':'symbol':'1.2-2' }}
                </h2>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div><br>

        <div fxFlex>
          <!-- total -->
          <mat-card class="card">
            <h2>Total</h2>
            <mat-card-content>
              <mat-list>
                <h2>
                  &nbsp;
                  <div fxFlex></div>
                  Total charges: {{ total | currency:'EUR':'symbol':'1.2-2' }}
                </h2>
              </mat-list>
            </mat-card-content>
          </mat-card>
         </div><br>
      </div>
    </div>

<div mat-dialog-actions class="buttons reverse split">
  <button matDialogClose="cancel" class="btn m3">
    Confirm Order
  </button>
  <button matDialogClose="confirm" class="btn m3">
    Cancel
  </button>
</div>
</div>






