<!--
============================================
; Title: not-found.component.html
; Author: Professor Krasso
; Date: 04/18/2023
; Modified By: Ace Baugh
; Description: Not Found Component 404
;===========================================
-->

<div class="main-container">
  <div class="giant-error">
    4<img src="./assets/images/wicked robot 250.png" />4
  </div>
  <h1>Our apologies, the page you are looking for cannot be found.</h1>
  <div class="action-container center">
    <button class="btn m3" routerLink="/">Return Home</button>
  </div>
</div>
