<!--
============================================
; Title: not-found.component.html
; Author: Professor Krasso
; Date: 04/18/2023
; Modified By: Ace Baugh
; Description: Not Found Component 404
;===========================================
-->

<!--main container-->
<div class="main-container">
  <h2 class="center">Error 404: Not Found</h2>
  <div class="giant-error center">
    4<img src="./assets/images/wicked robot 250.png" />4
  </div>
  <!--message-->
  <h1 class="center">Our apologies, the page you are looking for cannot be found.</h1>
  <div class="action-container center">
    <button class="btn m3" routerLink="/">Return Home</button>
  </div>
</div>
