/*
=====================================================
; File Name: user-list.component.css
; Project: Gryffindor - Bob's Computer Repair Shop
; Author: Richard Krasso
; Date: 04/21/2023
; File Description: User List component CSS
; Modifications: John Vanhessche
=====================================================
*/

title {
    color: #740001;
    font-weight: bold;
}

subtitle {
    color: #ae0001;
    font-weight: bold;
}

