<!--
============================================
; Title: auth-layout.component.html
; Author: Professor Krasso
; Date: 05/08/2023
; Modified By: Ace Baugh
; Description: Auth Layout Component
;===========================================
-->

<!--main content-->
<div class="auth-container font-primary">
  <header>
    <div class="company">
      <div class="company-logo">
        <img src="./assets/images/bcrs-logo.png" alt="main-logo" />
      </div>
      <div class="company-name font-accent">Bob's Computer Repair Shop</div>
    </div>
    <div class="navbar">
      <div class="nav-link" routerLink="/">Home</div>
      <div class="nav-link" routerLink="/main/about">About</div>
      <div class="nav-link" routerLink="/main/contact">Contact</div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
