<!--
============================================
; Title: verify-username-form.component.html for BCRS
; Author: Professor Krasso
; Modified by: John Vanhessche
; Date: 04/29/2023
; Description: verify-username-form.component.html for BCRS
===========================================
-->

<div class="main-container">
  <!--main card title-->
  <div class="content-title center">
    <h1>Forgot Password</h1>
    <h3>Fields marked with an asterisk (*) are required.</h3>
  </div>

  <br />

  <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

  <!--forms container for username field-->
  <div class="form-container">
    <div class="m2">
      <form [formGroup]="form" (ngSubmit)="verifyUser()" #usernameForm>
        <div class="form-group">
          <label class="input-label" for="text">User Name*</label>
          <input type="text" formControlName="username" required />
          <div
            class="error"
            *ngIf="
              form.controls['username'].hasError('required') &&
              form.controls['username'].touched
            "
          >
            User name is a required field
          </div>
          <div class="buttons reverse split">
            <button class="btn" [disabled]="!form.valid">
              Forgot Password
            </button>
            <!-- cancel button-->
            <button class="btn" routerLink="/session/sign-in">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
