<!--
============================================
; Title: reset-password-form.component.html for BCRS
; Author: Professor Krasso
; Modified by: John Vanhessche
; Date: 05/08/2023
; Description: reset-password=form.component.html for BCRS
===========================================
-->

<!-- Main -->
<div class="main-container">
  <div class="content-title center">
    <h1>Reset Password</h1>
    <h3>Fields marked with an asterisk (*) are required</h3>
  </div>

  <br />

  <!-- update password area -->
  <div class="form-container">
    <div class="m2">
      <form [formGroup]="form" (ngSubmit)="updatePassword()" #resetPasswordForm>
        <div class="form-group">
          <label class="input-label" for="text">Reset Password*</label>
          <input type="password" formControlName="password" required />

          <!-- error is password blank -->
          <div
            class="error"
            *ngIf="
              form.controls['password'].hasError('required') &&
              form.controls['password'].touched
            "
          >
            Password is a required field
          </div>

          <!-- error if password doesn't meet expected pattern -->
          <div
            class="error"
            *ngIf="
              form.controls['password'].hasError('pattern') &&
              form.controls['password'].touched
            "
          >
            Password must be at least 8 characters, contain one upper case
            letter, and one number.
          </div>
          <div class="buttons reverse split">
            <button class="btn" [disabled]="!form.valid" color="primary">
              Reset Password
            </button>
            <button class="btn" routerLink="/session/sign-in" color="accent">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
