<!--
============================================
; Title: reset-password-form.component.html for BCRS
; Author: Professor Krasso
; Modified by: John Vanhessche
; Date: 04/29/2023
; Description: reset-password=form.component.html for BCRS
===========================================
-->

<div class="main-container">

    <div class="content-title center">
        <h1>Forgot Password</h1>
        <h3>Fields marked with an asterisk (*) are required</h3>
    </div>

    <br />   

    <div class="form-container">
        <div class="m2">
            <form [formGroup]="form" (ngSubmit)="updatePassword()" #resetPasswordForm>
                <div class="form-group">
                    <label class="input-label" for="text">Reset Password*</label>
                    <input 
                        type="password"
                        formControlName="password"
                        required/>

                        <div class="error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                            Password is a required field
                        </div>

                        <div class="error" *ngIf="form.controls['password'].hasError('pattern') && form.controls['password'].touched">
                            Password must be at least 8 characters, contain one upper case letter, and one number.
                        </div>

                    <br /><br />

                    <button class="btn" routerLink="/session/sign-in" color="accent">Cancel</button>
                    <button class="btn" [disabled]="!form.valid" color="primary">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
