<!--
============================================
; Title: about.component.html
; Author: Professor Krasso
; Date: 05/08/2023
; Modified By: Ace Baugh
; Description: About component
;===========================================
-->

<div class="main-container">
  <div class="about-container">
    <h1>About Bob's Computer Repair Shop</h1>
    <h3>Who we are!</h3>
    <div class="logo-container float-right">
    <img
      src="./assets/images/bcrs-logo.png"
      alt="Bob's Computer Repair Shop Logo"
    />
    </div>
    <p class="mt2 mb">
      Welcome to Bob's Computer Repair Shop, your go-to destination for all your
      magical computer-related needs. We have been serving the Wizarding World
      for over 10 years and are proud to be one of the most trusted and reliable
      computer repair shops in the wizarding world. Our team of expert
      technicians, all proud members of Gryffindor House, has the skills and
      knowledge to diagnose and repair a wide range of muggle computer issues,
      from hardware malfunctions to software glitches.
    </p>
    <p class="mb">
      At Bob's Computer Repair Shop, we understand that a malfunctioning
      computer can disrupt your daily life and productivity, which can also
      affect your magical studies. That's why we strive to provide fast,
      efficient, and affordable repair services to get your computer back up and
      running in no time. Whether you need a virus removal, data recovery, or
      hardware upgrade, we have the tools, expertise, and spells to get the job
      done right.
    </p>
    <p class="mb">
      Our team of technicians (steeped in Gryffindor values) undergoes rigorous
      training and certification to ensure that they are up-to-date with the
      latest magical technologies and repair spell techniques. We use only the
      highest quality parts and equipment in our repairs, and we stand behind
      our work with a satisfaction guarantee. If, for any reason, you are not
      satisfied with our services, we will do everything in our magical power to
      make it right.
    </p>
    <p class="mb">
      At Bob's Computer Repair Shop, we believe in providing personalized
      service to our customers. We take the time to listen to your magical
      concerns and understand your needs, so we can provide the best possible
      solutions for your computer problems. We believe in building long-term
      relationships with our customers and are committed to providing ongoing
      support and maintenance to keep your computer running smoothly.
    </p>
    <p class="mb">
      In addition to our repair services, we also offer a wide range of magical
      products and accessories to enhance your computing experience. From
      high-quality magical computer components to the latest software, we have
      everything you need to stay ahead of the magical curve.
    </p>
    <p class="mb">
      Thank you for choosing Bob's Computer Repair Shop for all your magical
      computer needs. We look forward to serving you and exceeding your magical
      expectations.
    </p>

    <div class="action-container center">
      <button class="btn m3" routerLink="/main">Return Home</button>
    </div>
  </div>
</div>
