<!--
============================================
; Title: bad-request.component.html
; Author: Professor Krasso
; Date: 04/18/2023
; Modified By: Ace Baugh
; Description: Bad Request Component 400
;===========================================
-->

<!--main container-->
<div class="main-container">
  <div class="giant-error">
    4<img src="./assets/images/wicked robot 250.png" /><img src="./assets/images/wicked robot 250.png" />
  </div>
  <!--message-->
  <h1 class="center">Our apologies, the request you have made is not valid.</h1>
  <h3 class="center m1">That was quite the Slytherin move. Bad Bad Bad Request!</h3>
  <div class="action-container center">
    <button class="btn m3" routerLink="/">Return Home</button>
  </div>
</div>
