<!--
============================================
; Title: register.component.html
; Author: Professor Krasso
; Modified by: Ace Baugh
; Date: 04/30/2023
; Description: register component
===========================================
-->

<!--main container-->
<div class="main-container">
  <div class="content-title center">
    <h1>Account Registration Form</h1>
    <h3>Fields marked with an asterisk (*) are required</h3>
  </div>

  <!--error messages-->
  <!-- <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages> -->

  <!-- <form
    [formGroup]="form"
    (ngSubmit)="register()"
    (keydown.enter)="$event.preventDefault()"
  > -->
  <form>
    <div class="form-group">
      <div class="form-group">
        <label class="input-label">Username</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          required
        />

        <!-- <mat-error
          class="error"
          *ngIf="
            form.controls['username'].hasError('required') &&
            form.controls['username'].touched
          "
        >
          Username is a required field.
        </mat-error> -->
      </div>

      <!--div-->
      <div class="form-group">
        <label class="input-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          required
        />

        <!-- <mat-error
          class="error"
          *ngIf="
            form.controls['password'].hasError('required') &&
            form.controls['password'].touched
          "
        >
          Password is a required field.
        </mat-error> -->
      </div>

      <!--errors-->
      <!-- <mat-error
        class="error"
        *ngIf="
          form.controls['password'].hasError('pattern') &&
          form.controls['password'].touched
        "
      >
        Password must be at least 8 characters, contain one letter, and one
        number.
      </mat-error> -->
    </div>

    <hr>

    <!--form group-->
    <div class="form-group">
      <label class="input-label">First Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        required
      />

      <!-- <mat-error
        class="error"
        *ngIf="
          form.controls['firstName'].hasError('required') &&
          form.controls['firstName'].touched
        "
      >
        First name is a required field.
      </mat-error> -->
    </div>

    <!--form group-->
    <div class="form-group">
      <label class="input-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        required
      />

      <!-- <mat-error
        class="error"
        *ngIf="
          form.controls['lastName'].hasError('required') &&
          form.controls['lastName'].touched
        "
      >
        Last name is a required field.
      </mat-error> -->
    </div>

    <div class="form-group">
      <label class="input-label">Phone number</label>
      <input
        type="text"
        class="form-control"
        formControlName="phoneNumber"
        required
      />

      <!-- <mat-error
        class="error"
        *ngIf="
          form.controls['phoneNumber'].hasError('required') &&
          form.controls['phoneNumber'].touched
        "
      >
        Phone number is a required field.
      </mat-error> -->
    </div>

    <div class="form-group">
      <label class="input-label">Email address</label>
      <input
        type="text"
        class="form-control"
        formControlName="email"
        required
      />

      <!-- <mat-error
        class="error"
        *ngIf="
          form.controls['email'].hasError('required') &&
          form.controls['email'].touched
        "
      >
        Email is a required field.
      </mat-error>

      <mat-error
        class="error"
        *ngIf="
          form.controls['email'].hasError('email') &&
          form.controls['email'].touched
        "
      >
        Invalid email format.
      </mat-error> -->
    </div>

    <div class="form-group">
      <label class="input-label">Address</label>

      <textarea matInput required formControlName="address"></textarea>

      <!-- <mat-error
        class="error"
        *ngIf="
          form.controls['address'].hasError('required') &&
          form.controls['address'].touched
        "
      >
        Address is a required field.
      </mat-error> -->
    </div>
    <div class="buttons">
      <button class="btn" (click)="cancel()">Sign In</button>
      <button class="btn submit-button" type="submit" [disabled]="form.invalid">
        Register
      </button>
    </div>
  </form>
</div>
