<!--
============================================
; Title: sign-in.component.html
; Author: Professor Krasso
; Date: 04/21/2023
; Modified By: Chad ONeal
; Description: Sign-In Component
;===========================================
-->

<!--main content container-->
<div class="main-container">
  <h1 class="center mb2">Customer Sign-In</h1>
  <hr class="hr" />

  <!-- Error messages -->
  <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

  <form [formGroup]="signinForm" (ngSubmit)="signin(); signinForm.reset()">
    <div class="form-group">
      <label class="input-label" for="input">Username</label>
      <input
        type="text"
        formControlName="username"
        id="username"
        class="form-control"
      />

      <!--mat-error-->
      <mat-error
        *ngIf="
          signinForm.controls['username'].hasError('required') &&
          signinForm.controls['username'].touched
        "
      >
        Username is required.
      </mat-error>
    </div>

    <div class="form-group">
      <label class="input-label" for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form-control"
      />

      <!--mat-error-->
      <mat-error
        *ngIf="
          signinForm.controls['password'].hasError('required') &&
          signinForm.controls['password'].touched
        "
      >
        Password is required.
      </mat-error>

      <div
        class="error-message"
        *ngIf="
          signinForm.controls['password'].hasError('pattern') &&
          signinForm.controls['password'].touched
        "
      >
        Password must be at least 8 characters, contain one letter, and one
        number.
      </div>
    </div>
    <div class="right">
      <a routerLink="/session/forgot">Forgot Password</a>
    </div>

    <!--sign-in button-->
    <div class="center">
      <button type="submit" class="btn" [disabled]="!signinForm.valid">
        Sign-In
      </button>
    </div>
  </form>
</div>

<!--register new account button-->
<div class="center m3">
  <button class="btn" routerLink="/session/register">Create New Account</button>
</div>
