<!--
============================================
; Title: print-layout.component.html
; Author: Professor Krasso
; Date: 05/06/2023
; Modified By: John Vanhessche
; Description: print-layout Component
;===========================================
-->

<h1>This is the invoice</h1>

<div class="main-container">
    <div class="font-primary">
        <div class="col">
            <h1>Thank you for your order!</h1>
            <h3>Please print for your records</h3>
            <br /><br />
        </div>
        <div class="action-container center">
            <button class="btn m3" routerLink="/main/print">Print</button>
            <button class="btn m3" (click)=cancel()></button>            
        </div>
    </div>
</div>


<router-outlet></router-outlet>
