<!--
============================================
; Title: user-details.component.html
; Author: Professor Krasso
; Date: 04/22/2023
; Modified By: John Vanhessche
; Description: user-details Component
;===========================================
-->

<!--main content-->
<div class="main-container">
  <h1>Update User form</h1>
  <h3>Fields marked with an asterisk (*) are required.</h3>

  <!--error messages-->
  <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

  <!--forms-->
  <form
    [formGroup]="form"
    (ngSubmit)="saveUser(); form.reset()"
    (keydown.enter)="$event.preventDefault()"
  >
    <div class="form-group">
      <label class="input-label">First Name</label>
      <input type="text" formControlName="firstName" require />

      <mat-error
        *ngIf="
          form.controls['firstName'].hasError('required') &&
          form.controls['firstName'].touched
        "
      >
        First name is a required field.
      </mat-error>
    </div>


    <!--form groups-->
    <div class="form-group">
      <label class="input-label">Last name</label>
      <input type="text" formControlName="lastName" required />

      <mat-error
        *ngIf="
          form.controls['lastName'].hasError('required') &&
          form.controls['lastName'].touched
        "
      >
        Last name is a required field
      </mat-error>
    </div>

    <!--Phone number-->
    <div class="form-group">
      <label class="input-label">Phone number</label>
      <input type="text" formControlName="phoneNumber" required />

      <mat-error
        *ngIf="
          form.controls['phoneNumber'].hasError('required') &&
          form.controls['phoneNumber'].touched
        "
      >
        Phone number is a required field
      </mat-error>
    </div>

    <!--Email-->
    <div class="form-group">
      <label class="input-label">Email address</label>
      <input type="text" formControlName="email" required />

      <mat-error
        *ngIf="
          form.controls['email'].hasError('required') &&
          form.controls['email'].touched
        "
      >
        Email is a required field
      </mat-error>

      <!--email validation-->
      <mat-error
        *ngIf="
          form.controls['email'].hasError('email') &&
          form.controls['email'].touched
        "
      >
        Invalid email format
      </mat-error>
    </div>

    <div class="form-group">
      <label class="input-label">Address</label>
      <textarea type="text" formControlName="address" required></textarea>

      <!--address validation-->
      <mat-error
        *ngIf="
          form.controls['address'].hasError('required') &&
          form.controls['address'].touched
        "
      >
        Address is a required field
      </mat-error>
    </div>

    <!--City-->
    <div class="buttons reverse split">
      <button class="btn" [disabled]="!form.valid">
        Submit
      </button>
      <button class="btn" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>
