<!--
============================================
; Title: security-question-details.component.html
; Author: Professor Krasso
; Date: 04/22/2023
; Modified By: John Vanhessche
; Description: security-question-details Component
;===========================================
-->

<!--main content container-->
<div class="main-container">
  <div class="content-title center">
    <h1>Update Security Question Form</h1>
    <h3>Fields marked with an asterisk (*) are required.</h3>
  </div>

  <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

  <!--forms-->
  <form [formGroup]="editForm" (ngSubmit)="save(); editForm.reset()">
    <label class="input-label" for="text">Security question</label>
    <input
      type="text"
      formControlName="text"
      required
      placeholder="Enter a security question.."
    />

    <mat-error
      class="error"
      *ngIf="
        editForm.controls['text'].hasError('required') &&
        editForm.controls['text'].touched
      "
    >
      Security question is a required field.
    </mat-error>

    <!--save cancel buttons-->
    <div class="buttons">
      <button class="btn" (click)="cancel()" color="accent">Cancel</button>
      <button class="btn" (click)="save()" color="primary">Save</button>
    </div>
  </form>
</div>
