<!--
============================================
; Title: home.component.html
; Author: Professor Krasso
; Date: 04/18/2023
; Modified By: Ace Baugh
; Description: Home Component
;===========================================
-->

<div class="main-container">

  <div class="how-cool">
    <h1>I am an H1</h1>
    <h2>I am an H2</h2>
    <h3>I am an H3</h3>
    <h4>I am an H4</h4>
    <h5>I am an H5</h5>
    <h6>I am an H6</h6>

    <hr />

    <p>
      This is a test paragraph test. Look at all the words that I can type withing a minutes time. Is this really impressive or not? I need more lines here to make this fill out our area, but I think this is pretty nice looking. Should I make it bigger and thicker?
    </p>

    <hr />

    <div class="card">
      <div class="card-header">
        <div class="card-title">Card Title</div>
        <div class="card-subtitle">Card Subtitle</div>
      </div>
      <div class="card-body">
        <div class="card-text">Card Text</div>
      </div>
      <div class="card-footer">
        <div class="card-footer-text">Card Footer Text</div>
      </div>
    </div>

    <hr />

    <div class="buttons">
      <div class="btn">Button Style</div>
      <div class="btn disabled-btn">Disabled Button</div>
    </div>

    <hr />

    <table>
      <thead>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
        </tr>
        <tr>
          <td>Cell 4</td>
          <td>Cell 5</td>
          <td>Cell 6</td>
        </tr>
        <tr>
          <td>Cell 7</td>
          <td>Cell 8</td>
          <td> Cell 9</td>
        </tr>
      </tbody>
    </table>

    <hr />

    <form>
      <div class="form-title">Form Title</div>
      <div class="form-group">
        <label for="input" class="input-label">Input</label>
        <input type="text" id="input" name="input" class="form-control" />
      </div>
      <div class="form-group">
        <label class="input-label" for="textarea">Textarea</label>
        <textarea id="textarea" class="form-control"></textarea>
      </div>
    </form>

  </div>
</div>
