<!--
============================================
; Title: server-error.component.html
; Author: Professor Krasso
; Date: 04/18/2023
; Modified By: Ace Baugh
; Description: Server Error Component
;===========================================
-->

<div class="main-container">
  <div class="giant-error center">
    <h2 class="center">Error 500: Server Error</h2>
    5<img src="./assets/images/wicked robot 250.png" /><img src="./assets/images/wicked robot 250.png" />
  </div>
  <h1 class="center">Our apologies, we have somehow lost connection.</h1>
  <div class="action-container center">
    <button class="btn m3" (click)="goBack()">Go Back</button>
  </div>
</div>
