<!--
============================================
; Title: base-layout.component.html
; Author: Professor Krasso
; Date: 04/18/2023
; Modified By: Chad ONeal
; Description: Base Layout Component
;===========================================
-->

<div>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>

<div class="base-container font-primary">
  <header>
    <div class="company">
      <div class="company-logo">
        <img src="./assets/images/bcrs-logo.png" alt="main-logo" />
      </div>
      <div class="company-name font-accent">Bob's Computer Repair Shop</div>
    </div>
    <div class="navbar">
      <div class="nav-link" routerLink="/">Home</div>
      <div class="nav-link" routerLink="/main/about">About</div>
      <div class="nav-link" *ngIf="!sessionName" routerLink="/session/sign-in">
        Services
      </div>
      <div class="nav-link" *ngIf="sessionName" routerLink="/main/">
        Services
      </div>
      <div class="nav-link" routerLink="/main/contact">Contact</div>
      <!-- if not signed in, show sign-in link -->
      <div class="nav-link" routerLink="/session/sign-in" *ngIf="!sessionName">
        Sign-In
      </div>

      <button
        [matMenuTriggerFor]="session"
        mat-icon-button
        class="ml-xs"
        *ngIf="sessionName"
      >
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #session="matMenu" x-position="before" class="user-menu">
        <button mat-menu-item style="text-align: center; font-weight: bold">
          Welcome {{ sessionName }}
        </button>

        <mat-divider></mat-divider>

        <button
          mat-menu-item
          [matMenuTriggerFor]="configs"
          class="user-menu-item"
        >
          <mat-icon>settings</mat-icon>
          Configurations
        </button>

        <mat-menu #configs="matMenu" class="user-menu">
          <!-- users list -->

          <button mat-menu-item routerLink="/main/users" class="user-menu-item">
            <mat-icon>supervisor_account</mat-icon>
            User List
          </button>

          <button
            mat-menu-item
            routerLink="/main/role-list"
            class="user-menu-item"
          >
            <mat-icon>supervised_user_circle</mat-icon>
            Roles
          </button>

          <!-- security questions -->
          <button
            mat-menu-item
            routerLink="/main/security-question-list"
            class="user-menu-item"
          >
            <mat-icon>help</mat-icon>
            Security Questions
          </button>
        </mat-menu>

        <button
          mat-menu-item
          [matMenuTriggerFor]="reports"
          class="user-menu-item"
        >
          <mat-icon>report</mat-icon>
          Reports
        </button>

        <mat-menu #reports="matMenu" class="user-menu">
          <button mat-menu-item routerLink="/main/graph" class="user-menu-item">
            <mat-icon>pie_chart</mat-icon>
            Purchases by Services Graph
          </button>
        </mat-menu>

        <button mat-menu-item (click)="signout()" class="user-menu-item">
          <mat-icon>logout</mat-icon>
          Sign out
        </button>
      </mat-menu>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="copyright">
      &copy;{{ currentYear }} Bob's Computer Repair Shop | All Rights Reserved
      |&nbsp;
    </div>
    <div class="created-by">
      Created By: John Vanhessche, Chad ONeal, & Ace Baugh
    </div>
  </footer>
</div>
