/*
=====================================================
; File Name: base-layout.component.css
; Project: Gryffindor - Bob's Computer Repair Shop
; Author: Richard Krasso
; Date: 04/18/2023
; File Description: Base layout component CSS
; Modifications: Ace Baugh
=====================================================
*/

h1 {
  font-family: var(--font-accent);
  font-size: 2rem;
  color: #F5DEB3;
  text-align: center;
  margin: 0;
  padding: 0;
}
