/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-primary: "Lato", sans-serif;
  --font-accent: "Philosopher", sans-serif;
  --font-handwriting: "Architects Daughter", cursive;
  --color-primary-dark: #740001FF;
  --color-primary-dark-2: #740001CC;
  --color-primary-dark-3: #74000188;
  --color-primary-dark-4: #74000144;
  --color-primary-dark-5: #74000122;
  --color-primary: #ae0001FF;
  --color-primary-2: #ae0001CC;
  --color-primary-3: #ae000188;
  --color-primary-4: #ae000144;
  --color-primary-5: #ae000122;
  --color-primary-light: #BA4422FF;
  --color-primary-light-2: #BA4422CC;
  --color-primary-light-3: #BA442288;
  --color-primary-light-4: #BA442244;
  --color-primary-light-5: #BA442222;
  --color-extra: #FF8C00FF;
  --color-extra-2: #FF8C00CC;
  --color-extra-3: #FF8C0088;
  --color-extra-4: #FF8C0044;
  --color-extra-5: #FF8C0022;
  --color-accent-dark: #D3A625FF;
  --color-accent-dark-2: #D3A625CC;
  --color-accent-dark-3: #D3A62588;
  --color-accent-dark-4: #D3A62544;
  --color-accent-dark-5: #D3A62522;
  --color-accent: #EEBA30FF;
  --color-accent-2: #EEBA30CC;
  --color-accent-3: #EEBA3088;
  --color-accent-4: #EEBA3044;
  --color-accent-5: #EEBA3022;
  --color-accent-light: #FFDB58FF;
  --color-accent-light-2: #FFDB58CC;
  --color-accent-light-3: #FFDB5888;
  --color-accent-light-4: #FFDB5844;
  --color-accent-light-5: #FFDB5822;
  --color-white: #F5DEB3FF;
  --color-white-2: #F5DEB3CC;
  --color-white-3: #F5DEB388;
  --color-white-4: #F5DEB344;
  --color-white-5: #F5DEB322;
  --color-shade: #8B4513FF;
  --color-shade-2: #8B4513CC;
  --color-shade-3: #8B451388;
  --color-shade-4: #8B451344;
  --color-shade-5: #8B451322;
  --color-black: #210706FF;
  --color-black-2: #210706CC;
  --color-black-3: #21070688;
  --color-black-4: #21070644;
  --color-black-5: #21070622;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font-primary {
  font-family: var(--font-primary);
}

.font-accent {
  font-family: var(--font-accent);
}

.font-handwriting {
  font-family: var(--font-handwriting);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-accent);
}

p {
  font-family: var(--font-primary);
}

.btn {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  border: none;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border-bottom: 1px solid var(--color-primary-dark);
}

th, td {
  padding: 0.5rem;
}

th {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

tr:nth-child(even) {
  background-color: var(--color-primary-dark-2);
}

tr:nth-child(odd) {
  background-color: var(--color-primary-dark-3);
}

tr:hover {
  background-color: var(--color-primary-dark-4);
}

a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.base-container {
  background-image: url(src/assets/images/Bobs-Interior-v4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(var(--color-black), var(--color-black-2), var(--color-black-3), transparent);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: var(--color-white);
}

.company {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.company-logo img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.company-name {
  font-size: 2rem;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-link {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-white);
  box-shadow: 0 .5rem 3rem var(--color-primary-3)
}

main {
  padding: 5rem 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-width: 800px;
  max-width: 1200px;
  padding: 2rem;
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  box-shadow: 0 .5rem 3rem var(--color-primary-3)
}

footer {
  background: linear-gradient(transparent, var(--color-black-3), var(--color-black-2), var(--color-black));
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  color: var(--color-white);
  font-weight: 700;
}
