/*
============================================
; Title: styles.css for BCRS
; Author: Professor Krasso
; Modified by: Ace Baugh 04/24/2023
; Date: 03/25/2023
; Description: styles.css for BCRS
===========================================
*/

/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --font-primary: "Lato", sans-serif;
  --font-accent: "Philosopher", sans-serif;
  --font-handwriting: "Architects Daughter", cursive;
  --color-primary-dark: #740001ff;
  --color-primary-dark-2: #740001cc;
  --color-primary-dark-3: #74000188;
  --color-primary-dark-4: #74000144;
  --color-primary-dark-5: #74000122;
  --color-primary: #ae0001ff;
  --color-primary-2: #ae0001cc;
  --color-primary-3: #ae000188;
  --color-primary-4: #ae000144;
  --color-primary-5: #ae000122;
  --color-primary-light: #ba4422ff;
  --color-primary-light-2: #ba4422cc;
  --color-primary-light-3: #ba442288;
  --color-primary-light-4: #ba442244;
  --color-primary-light-5: #ba442222;
  --color-extra: #ff8c00ff;
  --color-extra-2: #ff8c00cc;
  --color-extra-3: #ff8c0088;
  --color-extra-4: #ff8c0044;
  --color-extra-5: #ff8c0022;
  --color-accent-dark: #d3a625ff;
  --color-accent-dark-2: #d3a625cc;
  --color-accent-dark-3: #d3a62588;
  --color-accent-dark-4: #d3a62544;
  --color-accent-dark-5: #d3a62522;
  --color-accent: #eeba30ff;
  --color-accent-2: #eeba30cc;
  --color-accent-3: #eeba3088;
  --color-accent-4: #eeba3044;
  --color-accent-5: #eeba3022;
  --color-accent-light: #ffdb58ff;
  --color-accent-light-2: #ffdb58cc;
  --color-accent-light-3: #ffdb5888;
  --color-accent-light-4: #ffdb5844;
  --color-accent-light-5: #ffdb5822;
  --color-white: #f5deb3ff;
  --color-white-2: #f5deb3cc;
  --color-white-3: #f5deb388;
  --color-white-4: #f5deb344;
  --color-white-5: #f5deb322;
  --color-shade: #8b4513ff;
  --color-shade-2: #8b4513cc;
  --color-shade-3: #8b451388;
  --color-shade-4: #8b451344;
  --color-shade-5: #8b451322;
  --color-black: #210706ff;
  --color-black-2: #210706cc;
  --color-black-3: #21070688;
  --color-black-4: #21070644;
  --color-black-5: #21070622;
  --svg-color: invert(9%) sepia(57%) saturate(5918%) hue-rotate(345deg)
    brightness(88%) contrast(118%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-accent {
  font-family: var(--font-accent);
}

.font-handwriting {
  font-family: var(--font-handwriting);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-accent);
}

p {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.mt {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.ml {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml3 {
  margin-left: 3rem;
}

.ml4 {
  margin-left: 4rem;
}

.ml5 {
  margin-left: 5rem;
}

.mr {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr3 {
  margin-right: 3rem;
}

.mr4 {
  margin-right: 4rem;
}

.mr5 {
  margin-right: 5rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.pt {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.pl {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}

.pl5 {
  padding-left: 5rem;
}

.pr {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.pr5 {
  padding-right: 5rem;
}

.btn,
.p-button {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  padding: 0.5rem 1rem;
  box-shadow: 0.5rem 0.5rem var(--color-accent);
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.btn[disabled],
.disabled-btn {
  background-color: var(--color-primary-dark-3);
  color: var(--color-white);
  border: 1px solid var(--color-primary-dark-3);
  box-shadow: none;
}

.card {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark-3);
}

.card:hover .card-header {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.card:hover {
  box-shadow: 0 0 20px var(--color-primary-dark);
}

.card-header {
  background-color: var(--color-primary-dark-3);
  color: var(--color-white);
  padding: 0.5rem;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-accent);
}

.card-subtitle {
  font-size: 0.7rem;
}

.card-body {
  padding: 0.5rem;
}

.card-footer {
  background-color: var(--color-primary-dark-4);
  color: var(--color-primary);
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

.card-footer a {
  color: var(--color-white);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

form {
  margin-top: 1rem;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-label {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary-dark);
}

input,
textarea,
select {
  width: 100%;
  background-color: var(--color-primary-dark-4);
  color: var(--color-white);
  border: 1px solid var(--color-primary-dark);
  padding: 0.5rem 1rem;
  box-shadow: 0.5rem 0.5rem var(--color-accent);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

input:hover,
textarea:hover {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
}

input:focus,
input:valid,
textarea:focus,
textarea:valid,
select:focus,
select:valid {
  outline: none;
  border: 1px solid var(--color-accent);
  background-color: var(--color-white);
  color: var(--color-primary-dark);
}

option {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

option:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark-3);
}

table,
th,
td {
  border-bottom: 1px solid var(--color-primary-dark);
}

th,
td {
  padding: 0.5rem;
}

th {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

tr:nth-child(even) {
  background-color: var(--color-primary-dark-4);
}

tr:nth-child(odd) {
  background-color: var(--color-primary-dark-5);
}

tr:hover {
  background-color: var(--color-primary-dark-2);
  color: var(--color-white);
}

tr:hover i {
  color: var(--color-white);
}

a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.base-container,
.auth-container {
  background-image: url(src/assets/images/Bobs-Interior-v4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.user-menu {
  border-radius: 0 !important;
  background-color: #f5deb3;
  box-shadow: 0 0 10px 0 var(--color-primary-dark-2);
}

.user-menu-item:hover,
.user-menu-item:hover mat-icon {
  background-color: var(--color-primary-dark) !important;
  color: var(--color-white) !important;
}

.p-message-error,
.p-toast-message {
  background: var(--color-primary-dark-2);
  padding: 0.5rem;
  color: var(--color-white);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 10px var(--color-primary-dark-3);
}

.p-message-close,
.p-dialog-header-close,
.p-toast-icon-close {
  cursor: pointer;
  color: var(--color-white);
  font-size: 0.8rem;
  background-color: var(--color-primary-dark-2);
  border: none;
}

.p-message-close-icon {
  color: var(--color-white);
  font-size: 1.2rem;
}

.p-message-summary,
.p-message-detail {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.p-dialog-mask {
  background-color: var(--color-primary-dark-2);
}

.p-dialog {
  background-color: var(--color-white);
  padding: 2rem;
}

.p-dialog-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  font-family: var(--font-accent);
  margin-bottom: 1rem;
}

.p-dialog-content {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.p-dialog-content i {
  font-size: 3rem;
}

.p-toast-message-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.p-confirm-dialog-accept,
.p-confirm-dialog-reject {
  outline: none;
}

.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.pi-times-circle {
  color: var(--color-primary-dark);
  font-size: 2rem;
  margin-right: 1rem;
}

header {
  background: linear-gradient(
    var(--color-black),
    var(--color-black-2),
    var(--color-black-3),
    transparent
  );
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: var(--color-white);
}

hr {
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark);
  margin: 1rem;
}

.company {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.company-logo img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.company-name {
  font-size: 2rem;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-link {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-white);
  box-shadow: 0 0.5rem 3rem var(--color-primary-3);
}

main {
  padding: 5rem 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-width: 800px;
  max-width: 1200px;
  padding: 2rem;
  background-color: var(--color-white-2);
  color: var(--color-primary-dark);
  box-shadow: 0 0.5rem 3rem var(--color-primary-3);
  display: flex;
  flex-direction: column;
}

.giant-error {
  font-family: var(--font-accent);
  font-size: 20rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn,
.delete-btn {
  color: var(--color-primary);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.sq-create {
  position: absolute;
  top: 1.7rem;
  right: 0.5rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.role-create {
  position: absolute;
  top: 1.7rem;
  right: 0.5rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.contact-content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-side a {
  color: #740001;
  text-decoration: none;
}

.phone-side a:hover {
  color: #740001;
  box-shadow: 0.25rem 0.25rem #eeba30;
}

.contact-text {
  padding: 1rem 0;
}

.transparent-text {
  color: transparent;
}

.float-right {
  float: right;
}

.questions-row,
.personal-info-row,
.user-cred-row {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  flex: 1fr 1fr;
}

.question,
.answer,
.personal-info-first-name,
.personal-info-last-name,
.personal-info-phone,
.personal-info-email,
.user-cred-username,
.user-cred-password {
  flex: 1;
  flex-direction: column;
}

.registration-form input,
select,
option {
  font-size: 1rem;
}

.reverse {
  flex-direction: row-reverse;
}

.split {
  justify-content: space-between;
}

.services {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.services-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.service .card,
.service .card-header,
.service .card-body,
.service .card-footer {
  cursor: pointer;
}

.services-checkbox {
  display: none;
}

.services-checkbox:checked + label .card {
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 0 5px var(--color-accent);
}

.services-checkbox:checked + label .card-header {
  background: var(--color-primary-dark);
}

.service .card-header {
  width: 200px;
}

.service .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.service-img {
  width: 100px;
  height: 100px;
  filter: var(--svg-color);
}

.mat-dialog-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-white) !important;
  border-radius: 0 !important;
}

.invoice-container {
  color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex {
  display: flex;
}

.line-item:nth-child(odd) {
  background-color: var(--color-primary-dark-4);
}

.line-item:nth-child(odd):hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.line-item:nth-child(even) {
  background-color: var(--color-primary-5);
}

.line-item:nth-child(even):hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.purchase-graph {
  background: var(--color-white-2);
  min-width: 800px;
  max-width: 1200px;
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark-3);
}

mat-dialog-container {
  background-color: var(--color-white) !important;
  border-radius: 0;
}

.print-info {
  display: flex;
  align-items: center;
}

.print-this {
  display: none;
}

footer {
  background: linear-gradient(
    transparent,
    var(--color-black-3),
    var(--color-black-2),
    var(--color-black)
  );
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  color: var(--color-white);
  font-weight: 700;
}

@media print {
  .invoice-container {
    color: black;
  }
  hr {
    border: 1px solid black;
    box-shadow: none;
  }
  .do-not-print {
    display: none;
  }

  .print-this {
    display: block;
  }
}
