/*
=====================================================
; File Name: purchase-by-service-graph.component.css
; Project: Gryffindor - Bob's Computer Repair Shop
; Author: Chad ONeal
; Date: 05/06/2023
=====================================================
*/

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.purchase-graph{
  width: 1600px;
  opacity: 88%;
  border-radius: 0;
}
